.messenger {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: right;
    .messenger-icon {
        cursor: pointer;
        .fa-facebook-messenger {
            color: white;
        }
    }
    .messenger-chat {
        position: relative;
        background-color: white;
        width: 300px;
        height: 500px;
        margin-bottom: 30px;
        &::after {
            content: "";
            position: absolute;
            bottom: -30px;
            right: 10px;
            width: 0;
            height: 0;
            border-color: white transparent transparent transparent;
            border-width: 15px;
            border-style: solid;
            border-radius: 0 0 50px 50px;
        }
        .messenger-form {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: row;
            width: 100%;
            input {
                width: 100%;
                margin-right: 10px;
            }
            button {
                border: 1px solid black;
                background-color: transparent;
            }
        }
    }
}