.visa-info-content {
    width: 100%;
    padding: 60px 10px;
    section {
        p {
            padding-bottom: 10px;
        }
        blockquote {
            border-left: 7px solid blue;
            font-style: italic;
            padding: 10px 25px;
            &.no-border {
                font-style: normal;
                border: none;
                padding-left: 40px;
            }
        }
        h4 {
            color: #626262;
        }
        &.anchor {
            padding-top: 60px;
            margin-top: -60px;
        }
    }
}