// Abstracts
@import "abstracts/variables";
@import "abstracts/mixins";

// Base
@import "base/reset";
@import "base/typography";

// Components
@import "components/hero";
@import "components/navigation";
@import "components/footer";
@import "components/custom-card";

// Layouts
@import "layouts/home";
@import "layouts/visa-info-content";

.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}